.feedback{margin-bottom: 100px;}
.feedback p{font-size: 20px;}
.captchaimg-sec{border: 1px solid #ced4da;border-radius: 3px;}
.captchaimg-sec i{font-size: 23px;padding: 5px 15px 5px 14px;color: #9e3a87;border-left: 1px solid #ced4da;}
.captchaimg-sec img{height: 34px;}
.red, .required {color: rgba(255,0,4,1);}
.required {font-size: 18px;}











